#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: visible;
    background: url('/img/preloading2.GIF') no-repeat center;
    background-color: #01081e;
}
        